.SearchForm {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.button {
  height: 48px;
  padding: 14px 44px;
}

.label {
  position: relative;
  color: #8a8a89;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.span__input {
  position: absolute;
  color: var(--primare-text-color);
  font-size: 18px;
  bottom: 15px;
  left: 18px;
}

input {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 18px;
  color: var(--primare-text-color);
  font-size: 18px;
  border: none;
  border-radius: 14px;
  background: #f7f7fb;
  height: 48px;
}
.input__brand {
  position: relative;
  padding: 14px 0px 14px 18px;
  justify-content: center;
}
.input__brandData {
  position: absolute;
  bottom: 20px;
  left: 100px;
}

.input__price {
  width: 125px;
  padding: 14px 14px 14px 48px;
  align-items: flex-start;
  gap: 32px;
}
.option__price {
  position: absolute;
  visibility: hidden;
  overflow-y: i scroll;
  display: flex;
  flex-direction: column;
  width: 125px;
  height: 100px;
  padding: 14px 8px 14px 18px;
}

.box__mile {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.input__mileFrom {
  width: 160px;
  padding: 14px 0px 14px 65px;
  margin-right: 0px;
  border-radius: 14px 0px 0px 14px;
  border-right: 1px solid rgba(138, 138, 137, 0.2);
}
.input__mileTo {
  position: relative;
  width: 160px;
  padding: 14px 0px 14px 48px;
  border-radius: 0px 14px 14px 0px;
}
